<!DOCTYPE html>
<html>
  <head>
    <title>CI/CD Demo</title>
  </head>
  <body>
    <h1>Déploiement réussi ! 🚀</h1>
    <p>Environnement : {{ git_branch }}</p>
    <p>Date : {{ ansible_date_time.date }}</p>
  </body>
</html>
